
html, body {
  font-size: 14px;
  color: #f2f2f2;
  height: 100%;
  width: 100%;
  /* background-image: linear-gradient(#BDEEBB, #CA6822); */
  background-color: #27272c;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

#btn {
  text-decoration: none;
  display: inline-block;
  background-color: #77777a;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  border-bottom: 4px solid #484848;
  font-weight: 700;
  color: #f2f2f2;
}

#btn:hover {
  background-color: #8e8e8e;
  border-bottom: 4px solid #606060;
}

#containerBody {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  width: 100%;
  gap: 10px;
  overflow: scroll;
  opacity: 0;
  transition: opacity 1s;
}

#content {
  flex: 1 1 350px;
  min-width: 0;
  text-align: left;
}

h1 {
  margin-bottom: 10px;
}

#poster {
  display: block;
  flex: 1 1 250px;
  min-width: 0;
  max-height: 100%;
  border-radius: 10px;
}

#tmdbLogo {
  display: block;
  width: 40%;
}

nav {
  background-color: #1d1d20;
  border-bottom: 1px solid black;
}

.nav-item a{
  color: #f2f2f2 !important;
}

.nav-item a:active{
  font-weight: bold;
}

.navbar-toggler {
  background-color: #f2f2f29a !important;
  border: 1px solid #f2f2f2 !important;
}

.services {
  height: 40px;
  width: 40px;
}

#imgAndBtn {
  width: 100%;
}

label {
  font-size: 20px;
  margin: 0px 10px 5px 0px;
}

input[type="radio"] {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  #imgAndBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    padding: 0px 20px 0px 20px;
  }
}
